# API key for Resend to send emails
RESEND_API_KEY=

# Target email address to receive contact form submissions
CONTACT_TO_EMAIL=

# Sender email address used to send contact form submissions (optional)
CONTACT_FROM_EMAIL=

# PostHog API key for analytics
NEXT_PUBLIC_POSTHOG_KEY=

# PostHog host URL for analytics
NEXT_PUBLIC_POSTHOG_HOST=
